.DS_Store
aws-creds
.venv
*.pyc
cloudsend.pem
cloudsend*.pem
remote_files/config.json
/config.py
/config*.py
/config*.zip
/config*.json
/examples/config.py
/config-cloudsend*.json
poetry.lock
__pycache__
state.json
state.pickle
state.config.json
commits.log
watch.log
/tmp
/dist
/kyel
/examples/scriptflow/*/*.log
/examples/scriptflow/*/.sf
/examples/scriptflow/*/sf.json
/examples/scriptflow/*/*.txt

/scriptflow