bcrypt==3.1.5; sys_platform == 'darwin' and (platform_version <= '13.4.0' or platform_release <= '13.4.0')
cryptography==3.1.1; sys_platform == 'darwin' and (platform_version <= '13.4.0' or platform_release <= '13.4.0')
boto3==1.23.10; sys_platform == 'darwin' and (platform_version <= '13.4.0' or platform_release <= '13.4.0')
boto3; sys_platform != 'darwin' or (platform_version > '13.4.0' or platform_release > '13.4.0')
jcs
pyyaml
paramiko
asyncssh
ortools==9.0.9048; sys_platform == 'darwin' and (platform_version <= '13.4.0' or platform_release <= '13.4.0')
ortools; sys_platform != 'darwin' or (platform_version > '13.4.0' or platform_release > '13.4.0')